@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GreatMango';
  src: url('/src/assets/fonts/GreatMango_Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'NeueMachina';
  src: url('/src/assets/fonts/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'NeueMachina';
  src: url('/src/assets/fonts/NeueMachina-Ultrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


:root {
  font-family: 'NeueMachina', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F9F9F9;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
